.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/065/010/983/large/szymon-rysuje-chill-bg-01-full-hd.jpg?1689273888");

  
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center bottom;
  min-height: 100vh;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header {
  text-align: left;
  padding: 10px 20px;
  /*background-color:#ffffff;*/
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;

}

.bubble{
  position: absolute;
  top: 25%;
  left: 200px;
  width:fit-content;
  height: fit-content;


  color: black;
  text-align:left;
}

.bubble img{
  width: 300px;
  height:auto;
}

.bubble-text {
  position: absolute;
  top: 40%; /* Center the text vertically */
  left: 50%; /* Center the text horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  width: 80%; /* Adjust text width to fit inside */
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: black; /* Adjust for visibility */
  padding: 5px; /* Add padding for better spacing */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: red; /* Fallback color */
  background: linear-gradient(90deg, white, red, white); /* Larger gradient */
  background-size: 200% 100%; /* Double the width for smooth animation */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block; /* Ensures the h1 only takes up the space of its text */
  animation: gradientFlow 4s linear infinite; /* Smooth animation */
}

@keyframes gradientFlow {
  0% {
    background-position: 100% 0; /* Start from the right */
  }
  100% {
    background-position: -100% 0; /* Move to the left */
  }
}

p {
  color: #333;
  font-size: 1.2rem;
}

form {
  margin: 20px 0;
  display: flex;
  justify-content: center;

}

input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border: 2px solid #d52b1e; /* Canadian red */
  border-radius: 5px;
  top:50%;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  background-color: #d52b1e; /* Canadian red */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #a81c12; /* Darker red */
}

.answer {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border: 2px solid #d52b1e; /* Canadian red */
  border-radius: 10px;
  max-width: 600
}

.canadian{
    text-align:right;
    bottom: 10%;
  }